@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar navbar-dark" style="background-color: #000;">
            <div class="container-fluid">
                <span class="navbar-brand">Mill Plane Generator</span>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
